@extend(layout)

@section(meta)
<meta name="description" content="xulance 飞夕的个人网络日志空间"/>
@show

@section(style)
<link rel="stylesheet" href="/style/journal.css">
@show

@section(content)

@define
function formatDate(dateStr) {
    let fix = num => num >= 10 ? '' + num : '0' + num;
    let date = new Date(dateStr);
    return date.getFullYear() + '-' + fix(date.getMonth() + 1) + '-' + fix(date.getDate());
}
@defined

<div class="">
    <ul class="journal-list">
        @for(let i = 0, article = props.article; i < article.length; i++)
        @define
        let item = article[i];
        @defined
        <li>
            <div class="date">{{formatDate(item["create_date"])}}</div>
            <div class="preview">
                <h3><a href="/article/{{item.link}}">{{item.title}}</a></h3>
                <div class="intro">
                    <div class="image">
                        <a href="/article/{{item.link}}" data-img="{{item.image}}" data-alt="{{item.title}}"></a>
                    </div>
                    <p class="description">{{item.description}}</p>
                </div>
            </div>
        </li>
        @endfor
    </ul>
</div>
@show

@section(script)
<script>
    (function () {
        let timer = null;
        function showImage() {
            if(timer) return;
            timer = setTimeout(function () {
                clearTimeout(timer);
                timer = null;
            }, 400);

            document.querySelectorAll('[data-img]').forEach(node => {
                let rect = node.getBoundingClientRect();
                if(rect.top > -100) {
                    let url = node.getAttribute('data-img');
                    let alt = node.getAttribute('data-alt');
                    node.innerHTML = '<img src="'+ url +'" alt="'+ alt +'">';
                }
            });
        }

        showImage();
        window.onscroll = showImage;
    }());
</script>
@show