@extend(layout)

@section(meta)
<meta name="description" content="home"/>
@show

@section(style)
<link rel="stylesheet" href="/style/journal.css">
@show

@section(content)
<div class="">
    <ul class="journal-list">
        <li>
            <div class="date">2020-02-01</div>
            <div class="preview">
                <h3><a>今天开始写日志啦哈哈今天开始写日志啦哈哈今天开始写日志啦哈哈哈哈</a></h3>
                <div class="image">
                    <a>
                        <img src="https://www.wangbase.com/blogimg/asset/202006/bg2020061521.jpg" alt="今天开始写日志啦">
                    </a>
                </div>
                <div class="intro">
                    <p class="description">ARM 芯片的生产商有许多家，这是因为它的商业模式是授权制。英国的 ARM 公司出售指令集的授权，购买授权的公司可以基于公版的设计，开发自己的 ARM
                        芯片。高通、三星、华为、苹果等公司的芯片，都属于这个模式。

                        苹果公司同时使用这两种架构的芯片，iPhone 和 iPad 的芯片是 ARM 架构，Mac 电脑的芯片是 x86 架构，这导致 iPhone 的 App 无法在 Mac 电脑运行。
                        近几年，x86 架构发展迟缓，ARM 架构则进步显著，已经从移动设备向桌面电脑和服务器进军了。Mac 电脑这一次更换 CPU，就是准备从 x86 架构改为 ARM 架构。</p>
                </div>
            </div>
        </li>
        <li>
            <div class="date">2020-02-01</div>
            <div class="preview">
                <h3><a>今天开始写日志啦哈哈今天开始写日志啦哈哈今天开始写日志啦哈哈哈哈</a></h3>
                <div class="image">
                    <a>
                        <img src="https://www.wangbase.com/blogimg/asset/202006/bg2020061521.jpg" alt="今天开始写日志啦">
                    </a>
                </div>
                <div class="intro">
                    <p class="description">ARM 芯片的生产商有许多家，这是因次更换 CPU，就是准备从 x86 架构改为 ARM 架构。</p>
                </div>
            </div>
        </li>
        <li>
            <div class="date">2020-02-01</div>
            <div class="preview">
                <h3><a>今天开始写日志啦哈哈今天开始写日志啦哈哈今天开始写日志啦哈哈哈哈</a></h3>
                <div class="image">
                    <a>
                        <img src="https://www.wangbase.com/blogimg/asset/202006/bg2020061521.jpg" alt="今天开始写日志啦">
                    </a>
                </div>
                <div class="intro">
                    <p class="description">ARM 芯片的生产商有许多家，这是因为它的商业模式是授权制。英国的 ARM 公司出售指令集的授权，购买授权的公司可以基于公版的设计，开发自己的 ARM
                        芯片。高通、三星、华为、苹果等公司的芯片，都属ac 电脑这一次更换 CPU，就是准备从 x86 架构改为 ARM 架构。</p>
                </div>
            </div>
        </li>
    </ul>
</div>
@show

@section(script)
<script>
    console.log('script')
</script>
@show