@extend(layout)

@section(meta)
<meta name="description" content="home"/>
@show

@section(head-script)
<script>
    console.log('head script')
</script>
@show

@section(content)
<div class="">
    <ul class="journal-list">
        <li>
            <span class="date">2020-02-01</span>
            <div class="preview">
                <h3>今天开始写日志啦</h3>
                <img src="/img/" alt="今天开始写日志啦">
            </div>
        </li>
    </ul>
</div>
@show

@section(script)
<script>
    console.log('script')
</script>
@show