/*journal-list*/
.journal-list{
    display: flex;
    flex-direction: column;
}

.journal-list > li{
    display: flex;
}

.journal-list .date{
    width: 116px;
    padding: 10px;
    text-align: right;
    font-weight: 600;
}

.journal-list .preview{
    width: calc(100% - 116px);
    padding: 10px 10px 10px 20px;
    border-left: 1px solid var(--text-color);
    position: relative;
}
.journal-list .preview:before{
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: 2px solid var(--text-color);
    background: var(--body-background);
    position: absolute;
    left: -7px;
    top: 1.1em;
}
.journal-list .preview h3{
    margin-bottom: 1em;
}
.journal-list .image{
    float: left;
    width: 240px;
    max-height: 135px;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
    overflow: hidden;
}
.journal-list .image img{
    width: 100%;
}

.journal-list .description{

}