.article-wrap h1 {
    font-size: 2em;
    margin: .67em 0
}

.article-wrap h1, .article-wrap h2, .article-wrap h3, .article-wrap h4, .article-wrap h5, .article-wrap h6 {
    margin-top: 0;
    margin-bottom: 0
}

.article-wrap h1 {
    font-size: 32px;
    font-weight: 600
}

.article-wrap h2 {
    font-size: 24px;
    font-weight: 600
}

.article-wrap h3 {
    font-size: 20px;
    font-weight: 600
}

.article-wrap h4 {
    font-size: 16px;
    font-weight: 600
}

.article-wrap h5 {
    font-size: 14px;
    font-weight: 600
}

.article-wrap h6 {
    font-size: 12px;
    font-weight: 600
}

.article-wrap p {
    margin-top: 0;
    margin-bottom: 10px
}

.article-wrap h1,
.article-wrap h2,
.article-wrap h3,
.article-wrap h4,
.article-wrap h5,
.article-wrap h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
}

.article-wrap h1 {
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef
}

.article-wrap h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef
}

.article-wrap h3 {
    font-size: 1.25em
}

.article-wrap h4 {
    font-size: 1em
}

.article-wrap h5 {
    font-size: .875em
}

.article-wrap h6 {
    font-size: .85em;
    color: #6a737d
}
