@extend(framework)

@section(style)
<link rel="stylesheet" href="/style/platform.css">
@show

@section(content)
<form class="publish-form" id="publish-form">
    <div class="form-control">
        <div class="form-label must">标题</div>
        <input class="form-item" title="" name="title" autocomplete="off">
        <div class="word-count">0</div>
    </div>
    <div class="form-control">
        <div class="form-label must">链接</div>
        <input class="form-item" title="" name="link" autocomplete="off">
        <div class="word-count">0</div>
    </div>
    <div class="form-control">
        <div class="form-label">描述</div>
        <input class="form-item" title="" name="description" autocomplete="off">
        <div class="word-count">0</div>
    </div>
    <div class="form-control">
        <div class="form-label">类型</div>
        <select class="form-item" title="" name="type">
            @for(let i = 0; i < props.type.length; i++)
            <option value="{{props.type[i].key}}">{{props.type[i].name}}</option>
            @endfor
        </select>
    </div>
    <div class="form-control">
        <div class="form-label">标签</div>
        <select class="form-item" title="" name="tag">
            @for(let i = 0; i < props.tag.length; i++)
            <option value="{{props.tag[i].key}}">{{props.tag[i].name}}</option>
            @endfor
        </select>
    </div>
    <div class="form-control">
        <div class="form-label">私有</div>
        <select class="form-item" title="" name="private">
            <option value="0" selected>公开</option>
            <option value="1" >私有</option>
        </select>
    </div>
    <div class="form-control">
        <div class="form-label">文件</div>
        <div class="form-file">选择文件</div>
        <div class="form-file-name"></div>
        <input class="form-item" type="file" title="" name="file">
    </div>
    <div class="form-control">
        <div class="form-label">预览图链接</div>
        <input class="form-item" title="" name="image" autocomplete="off">
        <div class="word-count">0</div>
    </div>
    <div class="form-control">
        <div class="form-label">预览图</div>
        <div class="form-preview">
            <img class="" alt="" src="">
        </div>
    </div>
    <div class="button publish-button" id="publish">发布</div>
</form>
@show

@section(script)
<script type="text/javascript">
    (function () {
        let $form = $('#publish-form');
        let $image = $form.find('[name="image"]');
        let $preview = $form.find('.form-preview img');

        $('#publish').on('click', function () {
            let data = $form.formData('form');

            $.upload('/platform/publish', data).then(res => {
                console.log(res);
            })
        });
        $form.on('keyup', 'input,textarea', function () {
            let $t = $(this);
            let val = $t.val();
            $t.sibling('.word-count').text(val.length);
        });

        $form.on('click', '.form-file', function () {
            $(this).sibling('input[type="file"]').$e.click();
        });

        $form.on('change', 'input[type="file"]', function () {
            let $t = $(this);
            let file = this.files.length ? this.files[0] : {name: ''};
            $t.sibling('.form-file-name').text(file.name);
        });

        $image.on('change', function () {
            $preview.attr('src', this.value);
        });
    }());
</script>
@show
