@extend(framework)

@section(style)
<link rel="stylesheet" href="/style/platform.css">
@show

@section(content)
<form class="publish-form">
    <div class="form-control">
        <div class="form-label must">标题</div>
        <input class="form-item" title="" name="title">
    </div>
    <div class="form-control">
        <div class="form-label must">链接</div>
        <input class="form-item" title="" name="link">
    </div>
    <div class="form-control">
        <div class="form-label">描述</div>
        <input class="form-item" title="" name="description">
    </div>
    <div class="form-control">
        <div class="form-label">类型</div>
        <input class="form-item" title="" name="type">
    </div>
    <div class="form-control">
        <div class="form-label">标签</div>
        <input class="form-item" title="" name="tag">
    </div>
    <div class="form-control">
        <div class="form-label">私有</div>
        <input class="form-item" title="" name="private">
    </div>
    <div class="form-control">
        <div class="form-label">文件</div>
        <input class="form-item" title="" name="title">
    </div>
    <div class="form-control">
        <div class="form-label">预览图链接</div>
        <input class="form-item" title="" name="title">
    </div>
</form>
@show

@section(script)
<script type="text/javascript">

</script>
@show
