<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav>
    <div>1</div>
    <div>2</div>
    <div>3</div>
</nav>

<header>
    <div>1</div>
    <div>2</div>
    <div>3</div>
</header>

<footer>
    <div>1</div>
    <div>2</div>
    <div>3</div>
</footer>

<!--<script src="../public/script/xu.lib.js"></script>-->
<!--<script src="../public/script/jquery-3.5.0.js"></script>-->
<script>

    // console.log(jQuery('div'));
    // console.log(xuLib('div').on('click', function () {
    //
    // }));


    console.log(document.querySelectorAll('nav,header'))

    // Array.isArray(jQuery('div'))
</script>
</body>
</html>